#vipps-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
body.page-checkout-payment .site-logo {
  max-width: 100%;
  height: auto;
}
.vipps-content-wrapper {
  width: 300px;
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  margin: 3em auto;
  background: #ffffff;
  box-sizing: border-box;
  padding: 10px;
}
.commerce-vipps-logo {
  width: 100%;
}
.commerce-vipps-spinner {
  position: relative;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.commerce-vipps-help {
  font-size: 1.2em;
}
.checkout-help {
  display: none;
}
